:root {
    --text-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --background-violet: hsl(273, 75%, 66%);
    --background-blue: hsl(240, 73%, 65%);
    --text-grayblue: hsl(237, 12%, 33%);
    --text-slate: hsl(240, 6%, 50%);
    --divider-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: initial;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 9rem 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--background-violet), var(--background-blue));
    color: var(--text-blue)
}

h1, h2 {
    margin-top: 0;
}

.card {
    background: white;
    border-radius: 2rem;
    max-width: 56rem;
    padding: 2.9rem 1.5rem;
    background-image: url('images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 50%;
}

.card-text {
    padding-top: 7rem;
}

.card-box {
    display: none;
}

.card-image {
    position: relative;
}

.card-image img {
    position: absolute;
    top: -7rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    max-width: 15rem;
    height: auto;
}

.accordian-item {
    border-bottom: 1px solid var(--divider-blue);
}

.accordian-item h2 {
    padding-top: 1rem;
    margin-bottom: 0;
}

.accordian-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background: transparent;
    padding: 0.2rem;
    font-size: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 1rem;
    text-align: left;
}

.accordian-question::after {
    content:'';
    display: block;
    width: 0.65rem;
    height: 1rem;
    border: none;
    background-image: url('images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 300ms ease-in-out;
}

.accordian-question:focus,
.accordian-question:focus-visible {
    border: none;
    outline: dashed 1px rgba(0, 0, 0, 0.25);
}

.accordian-question.open {
    font-weight: 700;
}

.accordian-question.open::after {
    transform: rotate(180deg);
}

.accordian-answer {
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

.accordian-collapse.collapse {
    display: none;
}

.accordian-collapse.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 250ms ease;
}

accordian-collapse.open {
    display: block;
}

@media (min-width: 56em) {
    .body {
        padding: 5rem;
    }

    .card {
        position: relative;
        display: flex;
        margin: 0 auto;
        padding: 4.4rem 6.3rem 4.4rem 0;
        background-image: url('images/bg-pattern-desktop.svg');
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: -13% center;
    }

    .card-box {
        display: block;
        position: absolute;
        top: 56%;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;;
    }

    .card-image, .card-text {
        flex: 1;
    }

    .card-image {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .card-image img {
        position: relative;
        top: auto;
        left: auto;
        transform: translateX(-4rem);
        max-width: 25rem;
    }

    .card-text {
        padding-top: 0;
    }
}